<div class="container-fluid ">
    <div class="row align-items-center">
        <div class="col-sm-12">
            <div class="row justify-content-center">
                <div class="col-4 text-center">
                  <%= form_for (:session) do |f| %>
                    <%= f.label :username, 'Enter your username', :class =>'mb-5' %>
                    <%= f.text_field :username, autocomplete: 'off', :class => 'form-control mb-5  ' %>
                    <%= f.submit( 'Sign in',{:class =>'btn btn-success'}) %>
                  <% end %>
                  </div>
              </div>
        </div>
    </div>
</div>