<div class="form-group msg-form">
  <%= form_with(model: [@single_room ,@message], remote: true, class: "d-flex mb-2") do |f| %>
    <%= f.text_field :content, id: 'chat-text', class: "form-control msg-content", autocomplete: 'off' %>
    <%= f.submit("Надіслати",data: { disable_with: false }, class: "btn btn-primary") %>
  <% end %>
</div>